<div>
    <a href="/tasks/<%= task.id %>">
        <div>
            Task
        </div>
    </a>
    <ul>
        <li>
            <%= task.title %>
        </li>
        <li>
            <%= task.content %>
        </li>
        <li>
            <%= task.statusName %>
        </li>
        <li>
            <%= task.completionDate %>
        </li>
    </ul>
</div>

